<div class="container">
  {% if messages.success %}
    {% for message in messages.success %}
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% if messages.error %}
    {% for message in messages.error %}
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% if messages.warning %}
    {% for message in messages.warning %}
      <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% if messages.info %}
    {% for message in messages.info %}
      <div class="alert alert-dismissible alert-primary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         {{ message }}
      </div>
    {% endfor %}
  {% endif %}
</div>
