<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>XS Library System</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/superhero/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js"></script>
        <style>

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

p {
  font-size: 40px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: -10px; 
  margin-right: 2px;
}

h2 {
  text-align: center;
  width: 100%;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
}

.button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

</style>
    </head>
    <body>
        {% include './navbar.njk' %}
        {% include './alerts.njk' %}
        {% block content %}
        {% endblock %}
    </body>
</html>