{% extends 'layouts/base.njk' %}
{% block content %}
<style>
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
</style>
<div class="container">
    <h1>
    Xavier School High School Library</h1>
    <p>Reservation System</p>
    <h2>
      <a class="google-btn" href="/auth/google"><button class="button button2">Login with Gmail</button></a>
    </h2>
  </div>
</div>
{% endblock %}
