{% extends 'layouts/base.njk' %}
{% block content %}
<div class="container">
	<h1>Room Management</h1>
	<div class="card text-white bg-secondary mb-3">
		<div class="card-header">Add a room</div>
		<div class="card-body">
			<form action="/room/add" method="post">
				<fieldset>
					<div class="form-group">
						<label for="roomName">Room Name</label>
						<input type="text" name="roomName" class="form-control" id="roomName" placeholder="Enter a room name">
					</div>
				</fieldset>
				<input type="submit" class="btn btn-primary" />
			</form>
		</div>
	</div>
	<div class="card text-white bg-secondary mb-3">
		<div class="card-header">Manage Rooms</div>
		<div class="card-body">
			<table class="table table-striped table-hover">
				<tr>
					<th>Room Name</th>
					<th>Change Room Name</th>
				</tr>
				{% for room in rooms %}
					<tr>
						<td>{{ room.roomName }}</td>
						<td><a class="btn btn-primary" href="/room/manage/{{room._id}}">Edit Name</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}